@use '../abstracts/abstracts' as *;

footer {
    text-align: center;

    @include breakpoint(desktop) {
        text-align: center;
    }
    
    p {
        a{
            color: black;
        }
    }
}