@use '../abstracts/abstracts' as *;

body {
    background: #ffffff;
    background: linear-gradient(270deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    font-family: $secondary-font;
    margin: 0;
    
    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }
}