@use '../abstracts/abstracts' as *;

.contactoSection {
    background-color: rgb(255, 255, 255);
    padding: 2rem 2rem;
    border-radius: 25px;
    margin-right: 40px;
    margin-bottom: 80px;
    
    ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-width: 60%;
    }

    iframe {
        max-width: 90%;
        margin-bottom: 30px;
    }
}

.formContacto {
    p {
        font-weight: 600;
        margin-bottom: 30px;
    }

    input {
        margin-top: 10px;
        font-family: $secondary-font;
        border: 1px solid black;
        height: 20px;
    }

    textarea {
        margin-top: 10px;
        font-family: $secondary-font;
        border: 1px solid black;
    }

    button {
        @include button();
    }
}