@use '../abstracts/abstracts' as *;

main {
    margin-bottom: 40px;
    margin-left: 40px;
    margin-top: 40px;
    color: black;

    .mainSection {
        margin-bottom: 60px;

        @include breakpoint(desktop) {
            display: flex;
            flex-direction: row;
            gap: 30px;
            align-items: center;
            justify-content: center;
        }

        p {
            text-align: justify;
            line-height: 150%;
            margin-bottom: 40px;
            max-width: 90%;

            @include breakpoint(desktop) {
                max-width: 30%;
            }
        }

        img {
            width: 200px;

            @include breakpoint(desktop){
                width: 250px;
            }
        }
    }
}

.indexSection {
    margin-bottom: 40px;
    margin-left: 40px;

    @include breakpoint(desktop) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        padding: 2rem 1rem;
        margin-right: 40px;
        border-radius: 25px;
    }

    h3 {
        max-width: 90%;
    }
    
     p {
        text-align: justify;
        line-height: 150%;
        margin-bottom: 40px;
        max-width: 90%;

        @include breakpoint(desktop) {
            max-width: 42%;
        }
    }
    
    a {
        color:black;

        &:hover {
            color: rgb(63, 63, 63);
        }
    }


}
