header {
    display: flex;
    flex-direction: row;

    .header-content {
        display: flex;
        flex-direction: row;
    }

    .header-nav {
        display: none;

        @include breakpoint(desktop) {
            display: flex;
            flex-direction: row;
        }
    }
}