@use '../abstracts/abstracts' as *;

.formLogin {
    p {
        font-weight: 600;
        margin-bottom: 30px;
    }

    input {
        margin-top: 10px;
        font-family: $secondary-font;
        border: 1px solid black;
        height: 20px;
    }

    textarea {
        margin-top: 10px;
        font-family: $secondary-font;
        border: 1px solid black;
    }

    button {
        @include button();
    }
}